     		.email{
					display:inline-block;
					width:  200px;
					margin-left:  350px;
					margin-right: 0px;
					font-family: roboto;
					color: white;
				}
			.formalign
			{
				display: inline-block;
			}
			.pass
			{
					display: inline-block;
					width: 200px;
					margin-left:50px;
					font-family: roboto;
					color: white;
			}
			.buttoninvisible
			{
				display: inline-block;
				margin-left: 0px;
				margin-right: 50px;
				border: none;
				padding: 0px;
				color: white;
			}
			.newuser
			{
				font-family: roboto;
				color: white;
				width: 100px;
				margin-left: 1000px;
				display:inline-block;
			}
			.forget
			{
				display: inline-block;
				font-family: roboto;
				color: white;
			}
			#transparentbutton
			{
				background-color: transparent;
				border : none;
			}
